/*MAIN-BLOCK-RIGHT*/


/*MAIN-BLOCK-SLIDER*/
.main-block__right {
	max-width: 780px;
	width: 100%;

	@media (max-width: 1100px) {
		max-width: 100%;
	}
}
.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;
}
.main-block__slider {
	// min-width: 0;
	width: 100%;
	position: relative;
	margin-bottom: 20px;
	&-item {
		position: relative;
		&__img {

			img {
				display: block;
				max-width: 100%;
				height: auto;
				width: 100%;
			}
		}

		&__title {
			padding: 24px 24px 0 0;
			position: absolute;
			right: 0;
			top: 0;
			font-weight: $fw-bold;
			text-transform: uppercase;
			color: #fff;
			font-size: 25px;
			line-height: 30px;
			text-align: right;
			width: 100%;

			@media (max-width: 680px) {
				padding: 10px 10px 0 0;
				font-size: 20px;
				line-height: 25px;
			}

			@media (max-width: 500px) {
				display: none;
			}
		}

		&__btn {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
			padding-bottom: 72px;

			a {
				color: #000;
				font-weight: 600;
				text-transform: uppercase;
				text-align: center;
				background-color: #ECEBED;
				border-radius: 5px;
				padding: 16px 58px;
				transition: all .4s;

				&:hover {
					background-color: darken(#ECEBED, 15%);
					color: #fff;
				}

				@media (max-width: 680px) {
					padding: 12px 38px;
					font-size: 12px;
				}

			}

			@media (max-width: 680px) {
				padding-bottom: 62px;
			}

			@media (max-width: 500px) {
				display: none;
			}

		}
	}
}

.main-block__slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 3;
	font-size: 0;
	border: none;
	width: 28px;
	height: 57px;
	// margin-top: -40px;
	transform: translateY(-50%);


}

.main-block__slider .slick-arrow.slick-prev {
	left: 20px;
	background: url(../img/arrow-left.svg) center no-repeat;

	@media (max-width: 500px) {
		left: 0;
	}
}

.main-block__slider .slick-arrow.slick-next {
	right: 20px;
	background: url(../img/arrow-right.svg) center no-repeat;
	// margin: 0 50px 0 0;

	@media (max-width: 500px) {
		right: 0;
	}
	
}

.main-block__slider .slick-dots {
	// @include flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);

	@media (max-width: 500px) {
		bottom: 10px;
	}
}

.main-block__slider .slick-dots li{
	list-style: none;
	// margin: 0 14px;
	margin-right: 10px;
}

.main-block__slider .slick-dots button {
	font-size: 0;
	width: 15px;
	height: 15px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 50%;

	@media (max-width: 500px) {
		width: 13px;
		height: 13px;
	}
}

.main-block__slider .slick-dots li.slick-active button {
	background-color: #fff;
}


/*MAIN-DELIVER*/

.main-block__deliver {
	background-color: #fff;
	padding: 40px;

	@media (max-width: 900px) {
		padding: 15px;
	}

}

.main-block__deliver-inner {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	counter-reset: counter;
	// justify-content: space-between;

	@media (max-width: 900px) {
		justify-content: space-between;
	}

	@media (max-width: 759px) {
		flex-direction: column;
	}

	@media (max-width: 500px) {
		margin-top: 70px;
	}
}
.main-block__deliver-inner__item {
	// flex: 0 1 50%;
	margin-bottom: 50px;
	// max-width: 300px;
	// flex: 0 1 50%;
	max-width: 300px;
	width: 100%;
	// width: 100%;
	margin-right: 100px;
	// margin-right: 20px;
	position: relative;
	padding-left: 78px;
	font-weight: $fw-medium;
	&:nth-child(2),
	&:nth-child(4) {
		margin-right: 0;
	}

	&:before {
		content: "" counter(counter);
		counter-increment: counter;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		color: #F7941E;
		font-size: 36px;
		line-height: 44px;
		border: 2px solid #F7941E;
		box-sizing: border-box;
		border-radius: 50%;
		padding: 5px 20px;

		@media (max-width: 500px) {
			top: 0;
			left: 0;
			// transform: translateX(-50%);
		}
	}

	@media (max-width: 759px) {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 70px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media (max-width: 500px) {
		padding-left: 0;
		padding-top: 40px;
	}
}