/*Подключение шрифтов*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/*Переменные*/
$fw-medium:500;
$fw-bold:700;

$base-color:#8B868F;
$black-color:#000000;

/*Подключаем обнуление*/
@import "reset";

/*Подключаем отдельные блоки стилей*/
@import "header";
@import "main-left";
@import "main-right";
@import "recommendation";
@import "certificate";
@import "about";
@import "footer";
@import "header-mobile";





body {
	font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    font-size: 14px;
    line-height: 17px;
    color: $base-color;

    &.active {
    	overflow: hidden;
    }
}

/*Container*/
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.base-title {
	font-size: 25px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: $fw-bold;
	text-align: center;
	margin-bottom: 35px;

	&--certificate {
		margin-bottom: 10px;
	}
}

.base-subtitle {
	text-align: center;
	font-weight: $fw-medium;
	margin-bottom: 35px;
}


// MAIN-BLOCK

.main-block {
	background-color: #F2F2F0;

	@media (max-width: 1100px) {
		padding-top: 20px;
	}
}

.main-block__inner {
	display: flex;

	@media (max-width: 1100px) {
		display: block;
	}
}

